.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold{
    font-weight: 500;
    font-family: "Barlow Condensed";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bellefair";
    scroll-behavior: smooth;
}

body{
    background: url(/assets/destination/background-destination-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    margin: 50px;
    border: 10px solid transparent;
    overflow: auto;
}
.logo{
    width: 5.5%;
    float: left;
    border: 10px solid transparent;
}

.divider{
    width: 44.5%;
    border: 1.5px solid rgb(95, 95, 95);
    float: left;
    margin-top: 35px;
    padding-left: 90px;    
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
}

.navigation a{
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-right: 50px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
    font-family: "Barlow Condensed";
    font-size: 20px;
    letter-spacing: 4.75px;
    padding-bottom: 22px;
}

.navigation a:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.63);
}

.navigation a:active::after{
    border-bottom: 10px solid rgb(255, 255, 255);
}

.containerPlanet{
    /* border: 10px solid red; */
    width: 100%;
    height: 80vh;
    overflow: auto;
    color: #fff;
    font-family: "Barlow Condensed";
}



.header{
    /* border: 10px solid green; */
    width: 500px;
    margin-left: 250px;
}
.header h5{
    font-size: 35px;
    letter-spacing: 5px;
    font-family: "Barlow Condensed";
    font-weight: 400;
}

.photo{
    /* border: 10px solid rgb(0, 255, 200); */
    width: 500px;
    margin-left: 250px;
    margin-top: 90px;
    float: left;
}

.contentContainer{
    float: left;
    width: 460px;
    /* border: 10px solid rgb(0, 89, 255); */
    margin-left: 400px;
    margin-top: 50px;
}

.PlanetNavigation{
    /* display: flex;
    justify-content: space-around; */
    width: 100%;
    height: 70px;
    margin-top: 20px;
}

.PlanetNavigation a{
    /* border: 2px solid green; */
    margin: 0 20px 0 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.PlanetNavigation a:hover{
    border-bottom: 2px solid white;
}

.PlanetInfo h2{
    font-size: 120px;
}
.PlanetInfo p{
    font-size: 20px;
    font-family: "Barlow Condensed";
    letter-spacing: 1px;
    padding-top: 18px;
}

.dividerContent{
    border-bottom: 1px solid grey;
    margin: 50px 0 20px 0;
}

.dictaneTravel{
    /* border: 10px solid red; */
    overflow: auto;
    width: 100%;
}

.distance{
    float: left;
    margin-right: 50px;
    /* border: 5px solid green; */
}

.distance h6{
    font-family: "Barlow Condensed";
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}

.distance p{
    font-size: 30px;
}

.travelTime{
    float: left;
    /* border: 5px solid green; */
}

.travelTime h6{
    font-family: "Barlow Condensed";
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}

.travelTime p{
    font-size: 30px;
}











